*{
  margin: 0px;
  padding: 0px;
}


 #galeria {
column-count: 5;
border: 0;
outline: none;
justify-content: center;
padding: 40px;
margin-top: -40px;
position: relative;
transition: all 500ms cubic-bezier(1,0,0,1);

}

/* Móviles en horizontal o tablets en vertical */

@media (max-width: 767px) { 
  #galeria {
      columns:2;
  }

}
      
/* Móviles en vertical */

@media (max-width: 480px) {
  #galeria {
      columns: 1;
  }
}