*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.buttons{
  justify-content: center;
  width: 100%;
  display: flex;
  padding: 10px;
  }
  
  .quotes{
    margin: 5px;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    background-color: #6a9159;
    border-radius: 6px;
    font: bold normal normal 15px/25px "Helvetica Neue",helvetica,arial,san-serif;
    display: flex;
  }
  
  .fashion{
    margin: 5px;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    background-color: #c2a964;
    border-radius: 6px;
    font: bold normal normal 15px/25px "Helvetica Neue",helvetica,arial,san-serif;
    display: flex;
  }
  
  .computer{
    margin: 5px;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    background-color: #afa792;
    border-radius: 6px;
    font: bold normal normal 15px/25px "Helvetica Neue",helvetica,arial,san-serif;
    display: flex;
  }
  
  .style{
    margin: 5px;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    background-color: #f6869f;
    border-radius: 6px;
    font: bold normal normal 15px/25px "Helvetica Neue",helvetica,arial,san-serif;
    display: flex;
  }
  
  .woman{
    margin: 5px;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    background-color: #8a416e;
    border-radius: 6px;
    font: bold normal normal 15px/25px "Helvetica Neue",helvetica,arial,san-serif;
    display: flex;
  }
  
  .pictures{
    margin: 5px;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    background-color: #6a8a7f;
    border-radius: 6px;
    font: bold normal normal 15px/25px "Helvetica Neue",helvetica,arial,san-serif;
    display: flex;
  }
  
  .poster{
    margin: 5px;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    background-color: #8d7638;
    border-radius: 6px;
    font: bold normal normal 15px/25px "Helvetica Neue",helvetica,arial,san-serif;
    display: flex;
  }
  
  .logo{
    margin: 5px;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    background-color: #e0cd98;
    border-radius: 6px;
    font: bold normal normal 15px/25px "Helvetica Neue",helvetica,arial,san-serif;
    display: flex;
  }
  
  .architecture{
    margin: 5px;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    background-color: #979385;
    border-radius: 6px;
    font: bold normal normal 15px/25px "Helvetica Neue",helvetica,arial,san-serif;
    display: flex;
  }
  
  .faces{
    margin: 5px;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    background-color: #4b2a21;
    border-radius: 6px;
    font: bold normal normal 15px/25px "Helvetica Neue",helvetica,arial,san-serif;
    display: flex;
  }
  
  .perfil{
    margin: 5px;
    font: bold normal normal 15px/25px "Helvetica Neue",helvetica,arial,san-serif;
    display: flex;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    background-color: #f3b5d4;
    border-radius: 6px;
  }
  
  .flowers{
    margin: 5px;
    text-decoration: none;
    padding: 18px;
    color: #ffffff;
    background-color: #72946f;
    border-radius: 6px;
    font: bold normal normal 15px/25px "Helvetica Neue",helvetica,arial,san-serif;
    display: flex;
  }
  
  .nextt{
    border-radius: 6px;
    float: left;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px;
    margin-left: 5px;
    background:rgb(224, 221, 221);
    font-size:75px;
    color:rgb(129, 127, 127); 
  }

  /* Móviles en horizontal o tablets en vertical */

@media (max-width: 767px) { 
  #buttons {
      columns:2;
  }

}
      
/* Móviles en vertical */

@media (max-width: 480px) {
  #buttons {
      columns: 1;
  }
}