   .container {
    width: 100%;
    height: auto;
  }

  .col-5{
   width: 20%;
   height: 500px;
   margin: 0 1%;
   float:left;
   }


   #galeria {
    margin: 15px;
    width: 100%;
    max-width: 1180px;
    column-count: 5;
    break-inside: avoid;
    display: inline-block;

}

.cards{
  display: inline-block;
  margin: auto;
  max-width: 700px;

}


.card{
  background: white;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  margin: 0 10px 10px 0;
  vertical-align: top;
  width: 160px;
}

.card-image{
  border-radius: 4px 4px 0 0;
  width: 100%; 

}

/* Móviles en horizontal o tablets en vertical */

@media (max-width: 767px) { 
  #galeria {
      columns:2;
  }

}
      
/* Móviles en vertical */

@media (max-width: 480px) {
  #galeria {
      columns: 1;
  }
}