*{
  margin: 0px;
  padding: 0px;
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-size: 300px;
   }
  
.galeria {
  max-width: 1200px;
  width:100%;
  background: white;
  padding: 20px;
  margin: auto;
  margin-top: 100px;
  border-radius: 15px;
}

.galeria img{
  width:100%;
}

.card{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

figure{
  width: 300px;
  height: 200px;
  overflow:hidden;
  margin: 10px;
}

figure img{
  width: 100%;
}

