*{
  margin: 0px;
  padding: 0px;
}

.content{
  margin: auto;
  width: 100%;
  height:0;
}

.input-header{
  width: 80%;
}

 .input{
  width: 45%;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
  border: 0;
  float: left;
  margin-top: 15px; 
  margin-left: -10px;
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  outline: none;
 }

 .lupa{
  width: 5%;
  padding: 10px;
  border-radius: 6px;
  float: left;
  height: 20px;
  margin-top: 15px; 
  border: 0;
  font-size: 50px;
  margin-top: 15px;
  margin-left: 5px;
 }

 .close{
  width: 5%;
  border: 0;
  font-size: 20px;
  background-color: rgb(238, 236, 236);  
  margin-top: 15px; 
  margin-left: -40px;
  color:rgb(129, 127, 127);   
  outline: none;
  margin-top: 15px; 
  float: left;
 }

 .pines{
  width: 20%;
  outline: none;
  color:rgb(31, 29, 29); 
  margin-top: 15px; 
  border: 0;
  font-size: 10px;
  background-color: rgb(238, 236, 236);  
  height: 40px;
  padding: 10px;
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 13.5px;
  border-radius: 5px;
  margin-top: 15px; 
  margin-left: -20px;
  float: left;
  display: flex;
 }

 .iconos-header{
  width: 30%;
 }

 .picture{
  list-style-type: none;
  margin: 0;
  padding: 0;
 }

 .user{
  margin-top: 15px; 
  font-size: 25px;
  position: absolute;
  color:rgb(129, 127, 127);  
  padding: 10px; 
  margin-left: 0.5rem;
 }

 .name{
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  position: absolute;
  color:rgb(129, 127, 127);
  margin-top: 25px; 
  text-align: right;
  margin-left: 58rem;
  text-decoration: none;
 }

 .home{
  margin-top: 25px; 
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  position: absolute;
  color:rgb(129, 127, 127); 
  text-align: right;
  margin-left: 63rem;
  text-decoration: none;
 }
 
 .next{
  margin-top: 25px; 
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  position: absolute;
  color:rgb(129, 127, 127);
  text-align: right;
  margin-left: 67rem;
  text-decoration: none;
 }
 
 .campana{
  margin-top: 15px; 
  font-size: 25px;
  position: absolute;
  color:rgb(129, 127, 127);  
  padding: 10px; 
  float: left;
  margin-left: 18rem;
 }

 .comentario{
  margin-top: 15px; 
  font-size: 25px;
  position: absolute;
  color:rgb(129, 127, 127);  
  padding: 10px; 
  float: left;
  margin-left: 21rem;
 }

 .mas{
  margin-top: 15px; 
  font-size: 25px;
  position: absolute;
  color:rgb(129, 127, 127);  
  padding: 10px; 
  float: left;
  margin-left: 24rem;
 }

 #pines options{
  outline: none;
  color:rgb(31, 29, 29); 
  background-color: #eee;
  border: 0px;
 }

#iconoPinterest{
width: 50px;
color: rgb(224, 28, 28);
font-size: 31px;
margin-top: 15px;
margin-left: 20px;
float: left;
display: flex;
  }
 
  #iconoSerch{
  background-color: rgb(238, 236, 236);
  margin-top: 15px;
  border: rgb(238, 236, 236);  
  color:rgb(129, 127, 127);   
  float: left;
  display: flex;
  }
