.container{
  width: 100%;
  height: 500px;
 }

 .input{
  width: 500px;
  height: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
  border: 0;
  float: left;
  margin-top: 15px;
  margin-left: -20px;
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  outline: none;
 }

 .lupa{
  padding: 10px;
  border-radius: 5px;
  float: left;
  height: 20px;
  margin-top: 15px;
  border: 0;
  font-size: 50px;
  margin-left: 30px;
 }

 .close{
  border: 0;
  font-size: 30px;
  background-color: rgb(238, 236, 236);  
  margin-top: 15px;
  margin-left: -40px;
  color:rgb(129, 127, 127);   
  outline: none;
 }

 .pines{
  outline: none;
  color:rgb(31, 29, 29); 
  margin-top: 15px;
  border: 0;
  font-size: 10px;
  background-color: rgb(238, 236, 236);  
  height: 40px;
  padding: 10px;
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  border-radius: 5px;
  position: absolute;
 }

 .home{
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  position: absolute;
  color:rgb(129, 127, 127);
  margin-top: 28px;  
  margin-left: 210px;
 }
 
 .user{
  font-size: 25px;
  position: absolute;
  color:rgb(129, 127, 127);  
  padding: 10px; 
  margin-top: 15px;
  margin-left: 260px;
 }

 .name{
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  position: absolute;
  color:rgb(129, 127, 127);
  margin-top: 28px;  
  margin-left: 320px;
 }

 .next{
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  position: absolute;
  color:rgb(129, 127, 127);
  margin-top: 28px;  
  margin-left: 380px;
 }
 
 .campana{
  font-size: 25px;
  position: absolute;
  color:rgb(129, 127, 127);  
  padding: 10px; 
  margin-top: 15px;
  margin-left: 470px;
 }
 
 .comentario{
  font-size: 25px;
  position: absolute;
  color:rgb(129, 127, 127);  
  padding: 10px; 
  margin-top: 15px;
  margin-left: 530px;
 }

 .mas{
  font-size: 25px;
  position: absolute;
  color:rgb(129, 127, 127);  
  padding: 10px; 
  margin-top: 15px;
  margin-left: 580px;
 }


#iconoPinterest{
    color: rgb(224, 28, 28);
    font-size: 31px;
    margin-top: 18px;
    float: left;
    margin-left: 30px;
  }
  
  #inputSearch{
    background-color: rgb(238, 236, 236);  
    border-radius: 3px;
    margin-top: 12px;
    border: rgb(238, 236, 236);  
  }
  
  #iconoSerch{
    background-color: rgb(238, 236, 236);
    border-radius: 3px;
    margin-top: 15px;
    border: rgb(238, 236, 236);  
    color:rgb(129, 127, 127);   
  }

  #inputSearch:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem transparent !important;
  }

  #barras{  
    color: rgb(146, 143, 143);
    font-size: 25px;  
    float: right;
    margin-left: 25px;
    margin-top: 15px;
  }
  
  #msn{  
    color: rgb(163, 160, 160);
    font-size: 25px; 
    float: right;
    margin-left: 23px;
    margin-top: 15px;
  }
  
  @media (max-width: 700px) {
    .icono{
      display: none;
    }
    #iconoPinterest{
      margin-left: 0px;
    }
    #barra{
      display: none;
    }
  }
  
  @media (max-width: 550px) {
    #inputSearch{
      margin-left: 25px;
    }
  }
  
  @media (max-width: 1200px) {
    #msn{
      display: none;
    }
  }
  
  @media (max-width: 800px) {
    #barras{
      display: none;
    }
  }