*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.content{
  justify-content: center;
  width: 100%;
  height:0;
}

.input-header{
  width: 70%;
}

.lupa{
  width: 5%;
  padding: 15px;
  border-radius: 6px;
  float: left;
  margin-top: 15px; 
  border: 0;
  font-size: 50px;
  margin-top: 15px;
  margin-left: 5px;
 }

 .input{
  width: 60%;
  padding: 15px;
  border-radius: 5px;
  background-color: #eee;
  border: 0;
  float: left;
  margin-top: 15px; 
  margin-left: -10px;
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  outline: none;
 }

 .close{
  width: 5%;
  border: 0;
  font-size: 20px;
  background-color: rgb(238, 236, 236);  
  margin-top: 15px; 
  margin-left: -40px;
  color:rgb(129, 127, 127);   
  outline: none;
  margin-top: 15px; 
  float: left;
 }

 .pines{
  width: 20%;
  padding: 17px;
  outline: none;
  color:rgb(31, 29, 29); 
  margin-top: 15px; 
  border: 0;
  background-color: rgb(238, 236, 236);  
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 12px;
  border-radius: 5px;
  margin-top: 15px; 
  margin-left: -20px;
  float: left;
  display: flex;
 }

 .iconos-header{
  width: 100%;
 }

 .picture{
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 .user{
  margin-top: 25px; 
  font-size: 30px;
  position: absolute;
  color:rgb(129, 127, 127);  
  margin-left: 0.5rem;
 }

 .name{
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  margin-top: 30px;
  display: flex;
  float: left;
  text-align: left;
  color:rgb(129, 127, 127);
  margin-left: 4rem;
  text-decoration: none;
 }

 .home{
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  text-align: left;
  margin-top: 30px; 
  display: flex;
  float: left;
  color:rgb(129, 127, 127); 
  margin-left: 2rem;
  text-decoration: none;
 }
 
 .next{
  font: bold normal normal 11px/20px "Helvetica Neue",helvetica,arial,san-serif;
  font-size: 15px;
  margin-top: 30px;
  text-align: left; 
  display: flex;
  float: left;
  color:rgb(129, 127, 127);
  margin-left: 2rem;
  text-decoration: none;
 }
 
 .campana{
  margin-top: 25px; 
  font-size: 30px;
  position: absolute;
  color:rgb(129, 127, 127);  
  float: left;
  margin-left: 1rem;
 }
 
 .comentario{
  margin-top: 25px; 
  font-size: 30px;
  position: absolute;
  color:rgb(129, 127, 127);  
  float: left;
  margin-left: 4rem;
 }

 .mas{
  margin-top: 25px; 
  font-size: 30px;
  position: absolute;
  color:rgb(129, 127, 127);  
  float: left;
  margin-left: 7rem;
 }

 #pines options{
  outline: none;
  color:rgb(31, 29, 29); 
  background-color: #eee;
  border: 0px;
 }

#iconoPinterest{
width: 50px;
color: rgb(224, 28, 28);
font-size: 31px;
margin-top: 25px;
margin-left: 20px;
float: left;
display: flex;
  }
 
  #iconoSerch{
  background-color: rgb(238, 236, 236);
  margin-top: 15px;
  border: rgb(238, 236, 236);  
  color:rgb(129, 127, 127);   
  float: left;
  display: flex;
  }
